{% load static %}
<style>
   button{
       background-color: #112 !important;
   }
   .navbar-brand{
       outline: none;
       animation: animated 5s linear infinite;
   }
   @keyframes animated{
       0%,18%,20%,5.1%,60%,65.1%,90.1%{
           color: #0e3742;
           text-shadow: none;
       }
       18.1%,20.1%,30%,50%,60.1%,80.1%,90%,92.1%,100%{
           color: #fff;
           text-shadow: 0 0 10px #03bcf4,
                        0 0 20px #03bcf4,
                        0 0 40px #03bcf4,
                        0 0 80px #03bcf4,
                        0 0 160px #03bcf4;
       }
   }
   .logo{
       outline: none;
       animation: animation1 5s linear infinite;
   }
   @keyframes animation1{
       0%{
           color: #0e3742;
           text-shadow: none;
       }
       100%{
           color: #fff;
           text-shadow: 0 0 10px #03bcf4,
                        0 0 20px #03bcf4,
                        0 0 40px #03bcf4,
                        0 0 80px #03bcf4,
                        0 0 160px #03bcf4;
       }
   }
   .navbar-nav li a:hover {
  text-shadow: 0 0 5px greenyellow, 0 0 20px greenyellow, 0 0 60px greenyellow,
    0 0 120px greenyellow,0 0 240px #03bcf4,0 0 300px #03bcf4 !important;
}
</style>

<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
        <a style="background-color: rgba(94, 90, 90, 0.11);" class="navbar-brand l navbar-left js-scroll" href="/"><span
                class="color-text">lode<span style="color: red;">Shoes</span> </span></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
            aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="  navbar-collapse  collapse justify-content-end" id="navbarDefault">
            <ul class="navbar-nav navbar-right">
                <li class="nav-item"> <a class="nav-link l js-scroll active" href="/">Home</a></li>
                <li class="nav-item"> <a class="nav-link l js-scroll ml-2 mr-4" href="/products">Shop</a></li>
                <li class="nav-item"> <a class="nav-link l js-scroll ml-2 mr-4" href="/about">About Us</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link l js-scroll mr-3" href="/checkout"><img width="20" height="20" src="{%static 'images/cart.png'%}" alt="cart-icon" class="cart-icon "><span class="badge badge-pill primary-color">{{cart}} </span></a></li>
                {%if user.username == "admin" %}
                <li class="nav-item"><a class="nav-link l js-scroll ml-2 mr-4" style="color: orange;" href='/admin'><span class="glyphicon glyphicon-user"></span> &nbsp;
                        {{user.username}}</a></li>
                {%else%}
                <li class="nav-item"><a class="nav-link l js-scroll ml-2 mr-4" style="color: orange;" href='/accounts/{{request.user}}/orders'><span
                            class="glyphicon glyphicon-user"></span>{{request.user}}</a></li>
                {%endif%}
                <li class="nav-item ">
                        <button
                        class="nav-link js-scroll btn btn-danger p-3 mt-1 ml-2 show-modal"
                        data-toggle="modal"
                        data-target="#myModal3"
                      >
                        Logout
                      </button></li>
                {%else%}
                <li class="nav-item "><a class="nav-link js-scroll btn btn-primary p-3 mt-1 ml-2"
                        href="/login">Login</a></li>
                <li class="nav-item "><a style="color:black;" class="nav-link js-scroll btn btn-default p-3 mt-1 ml-2"
                        href="/register">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->
